<div class="footer d-flex align-items-center justify-content-center">
    <div class="footer_body d-flex align-items-center justify-content-between w-95 flex-wrap">
        <div class="footer_body_left d-flex flex-column - w-30">
            <div class="logo">
                <img src="../../../assets/images/footer-logo.png" alt="footer-logo" class="w-50">
            </div>
            <div class="para">
                <p class="w-80 fw-400 links">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer 
                    took a galley of type and scrambled it to make a type specimen book.
                </p>
            </div>
        </div>
        <div class="footer_body_middle d-flex flex-column w-50 gap-2 align-items-start justify-content-start">
            <div class="middle_child1">
                <p class="paragraph fw-400 pt-5">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem I </p>
            </div>
            <div class="middle_child2 d-flex gap-4 ">
                <input type="text" placeholder="Your Email" class="p-4 br-5 w-35 text-white">
                <button class="w-25 p-4 pb-4 br-5 border-0">Subscribe</button>
            </div>
        </div>
        <div class="footer_body_right d-flex flex-column w-10 align-items-center">
            <div class="right_text">
                <h2 class="small-paragraph fw-400 ">Follow Us</h2>
            </div>
            <div class="follow_icons d-flex gap-4">
                <i class="fa-brands fa-facebook-f paragraph"></i>
                <i class="fa-brands fa-twitter paragraph"></i>
                <i class="fa-brands fa-square-instagram paragraph"></i>
            </div>
        </div>
    </div>
</div>

