<div class="pb-5 pt-3">
    <div class="portfolio-section d-flex flex-row flex-wrap p-5">
        <div class="left-section col-lg-6 col-md-6 col-sm-12 d-flex flex-column pt-4 justify-content-center">
            <div class="left-section-1 d-flex flex-column gap-4 justify-content-center">
                <h1 class="left-heading text-black fw-500 mar0 sub-heading w-60">Get Summary of your hiring Portfolio<span class="text-green">.</span></h1>
                <p class="mar0 paragraph fw-500 small-paragraph text-gray">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text 
                    ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                <div class="d-flex pt-4">
                    <button class="learnMore-btn br-n br-10 bg-black text-white small-paragraph fw-400">Learn More</button>
                </div>
            </div>
        </div>

        <div class="right-section col-lg-6 col-md-6 col-sm-12 d-flex justify-content-end">
            <img src="../../../assets/images/portfolio-banner-img.png" alt="banner-img" width="85%">
        </div>
    </div>
</div>