<nav class="navbar navbar-expand-lg navbar-light bg-gray">
    <div class="container-fluid">
      <div class="col-lg-3 d-flex flex-roow justify-content-around align-items-center">
        <a class="navbar-brand"><img class="logo-im" src="../../../assets/images/logo-header.png" alt="logo"
            width="70%"></a>
        <div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav col-9 gap-5 d-flex justify-content-center">
          <a class="header-list text-d-n active" href="#">
            <p class="cursor paragraph fw-500 ls-05 mar0">Home</p>
          </a>
          <a class="header-list text-d-n">
            <p class="cursor paragraph fw-500 ls-05 text-accent mar0">Features</p>
          </a>
          <a class="header-list text-d-n">
            <p class="cursor paragraph fw-500 ls-05 text-accent mar0">How it works</p>
          </a>
          <a class="header-list text-d-n">
            <p class="cursor paragraph fw-500 ls-05 text-accent mar0">About Us</p>
          </a>
          <a class="header-list text-d-n">
            <p class="cursor paragraph fw-500 ls-05 text-accent mar0">Pricing</p>
          </a>
        </ul>
  
        <div class="buttons col-lg-3 d-flex flex-row justify-content-end align-items-center gap-4 col-5">
          <a class="login text-d-n">
            <p class="fw-400 links ls-05 cursor mar0 text-accent" (click)="signInRouting()">Log in</p>
          </a>
          <a class=" cursor">
            <button class="signUp-btn fw-400 links br-5 bg-white text-accent bg-gray">Sign Up for free</button>
          </a>
        </div>
  
      </div>
    </div>
  </nav>
