<div class="main pt-5 pb-5">
    <div class="feature-section">
       <div class="feature-bg d-flex flex-row flex-wrap justify-content-center">
            <div class="left-section col-md-5 col-sm-12 d-flex justify-content-center">
                <img class="left-img" src="../../../assets/images/feature-title-banner-img.png" alt="" width="100%">
            </div>
            <div class="right-section col-lg-6 col-md-5 col-sm-12 d-flex flex-column justify-content-center">
                <p class="sub-heading fw-500 text-pink mar0">FEATURE TITLE</p>
                <P class="sub-heading fw-500 mar0 w-80 text-white">Some feature title comes here for the web</P>
                <p class="paragraph pt-3 text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima repudiandae tenetur mollitia doloremque alias laudantium 
                    dolorum corrupti at veniam placeat illo, sed fugit accusamus exercitationem? Eius aperiam beatae ut ab!</p>
            </div>
       </div>
    </div>
</div>

